version: 2.1

orbs:
  node: circleci/node@5

jobs:
  build:
    executor:
      name: node/default
      tag: "14.16.1"
    working_directory: ~/repo

    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: npm ci
      - run:
          name: Build Angular App
          command: npx ng build --configuration=production

      - persist_to_workspace:
          root: .
          paths:
            - dist

  deploy:
    docker:
      - image: cimg/base:stable
    steps:
      - attach_workspace:
          at: .

      - add_ssh_keys:
          fingerprints:
            - "SHA256:9B2E9QSH9D3RUiEAveH8a2YsnMtzvrUhaYkqnGrm2J4"

      - run:
	      name: Deploy to EC2		
	      command: |		
	        # Copy build to ec2-user home		
            scp -o StrictHostKeyChecking=no -r dist/* ec2-user@13.201.98.222:/home/ec2-user/
      
            # Move files using sudo
            ssh -o StrictHostKeyChecking=no ec2-user@13.201.98.222 << 'EOF'
              sudo rm -rf /usr/share/nginx/html/*
              sudo mv /home/ec2-user/* /usr/share/nginx/html/
              sudo systemctl restart nginx
            EOF


workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
