version: 2.1

orbs:
  node: circleci/node@5

jobs:
  build:
    executor:
      name: node/default
      tag: "18.20.3"   # Stable Node 18 version
    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
          keys:
            - node-deps-{{ checksum "package-lock.json" }}
            - node-deps-

      - run:
          name: Install Dependencies
          command: npm ci

      - save_cache:
          paths:
            - node_modules
          key: node-deps-{{ checksum "package-lock.json" }}

      - run:
          name: Build Angular App
          command: npm run build -- --configuration=production

      - persist_to_workspace:
          root: .
          paths:
            - dist

workflows:
  version: 2
  build_only:
    jobs:
      - build