version: 2.1

orbs:
  node: circleci/node@5

jobs:
  build:
    executor:
      name: node/default
      tag: "14.16.1"   # Node version as requested
    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: Install Angular App Dependencies
          command: npm ci

      - run:
          name: Build Angular App
          command: npx ng build --configuration=production

      - persist_to_workspace:
          root: .
          paths:
            - dist

workflows:
  version: 2
  build_only:
    jobs:
      - build
